.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') 
            img(src='/img/logo.png') 
            span Node Coffee
            span(class='label label-info version') Beta
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/projects') 项目
            li
              a(href='/news') 资讯
            li
              a(href='/meetings') 活动
            li
              a(href='/stars') 名人 
            li
              a(href='/tutorial') 教程
            li
              a(href='/books') 图书
            li
              a(href='/qa') 问答
          ul.nav.navbar-nav.pull-right                                       
            li.divider-vertical
            if typeof req.user != 'undefined' && req.user != null
                li(id='nav-profile')
                    a(href='/profile/#{req.user._id}') #{req.user.displayName}
                li
                    a(class='tooltipped',id='messages',href='/messages',title='查看消息' )
                       span.glyphicon.glyphicon-envelope
                li
                   a(href='/settings/profile',id='account_settings',class='tooltipped',title='帐号设置')
                      span.glyphicon.glyphicon-wrench
                li
                   a(href='/logout',class='tooltipped',data-method='post',id='logout',title='退出登录')
                      span.glyphicon.glyphicon-off
            else
              li
                a(href='#sign-in-modal',data-toggle='modal') 登录
              li
                a(href='/signup') 注册
            
            
if !req.user
   include signin                                
