extends ../layout

block title
  | 注册

block content
  .container(style='margin-top:110px;')
    .col-md-10.col-md-offset-1
      .row
        .col-md-8
          h2 注册成为Node Coffee用户
        .col-md-2.col-md-offset-2
          h2
            small
              button.btn.btn-primary 用已有帐号登录  
      hr
      .well
        h3 创建个人帐号
        .row
          .col-md-7
            if typeof errors != 'undefined' && errors != null
              .alert.alert-danger.alert-dismissable
                button.close(type="button",data-dismiss="alert",aria-hidden="true") &times;
                for error in errors
                  p #{error.msg}
            form(id='signup-form',action="/signup", method="post",role='form')
              .form-group 
                input#displayName.form-control(type='text', name="displayName", placeholder='给自己取个喜欢的名字',value=user.displayName)
              .form-group 
                input#email.form-control(type='email', name="email", placeholder='你的Email，登录用',value=user.email)
                span.help-block 我们不会把你的Email告诉其他人
              .form-group 
                input#password.form-control(type='password', placeholder='一个复杂点儿的密码',name="password")
                span.help-block 不能少于7个字符，最好混杂着各种大小写字母和数字
              .form-group 
                input#re_password.form-control(type='password', placeholder='为防止手误，请再输一次密码',name="re_password")
              .alert.alert-warning
                p.lead 点击下面的 "创建帐号" 按钮, 表示你同意接受我们的 
                  strong
                    a(href='/static/service') 服务条款
                  |   及   
                  strong
                    a(href='/static/privacy') 隐私政策 
              .form-group
                input.btn.btn-lg.btn-success.pull-right.submit(type='submit',value='创建帐号')

          .col-md-5
            .thumbnail
              img.img-rounded(src='img/signup.png')
              .caption
                h4 做一个整洁的社区
                p 不做论坛，让问题杂乱无章堆砌
                p 不做展台，让资源混乱无序生长
                p 记录时光，记录那些人、那些事、那些陪伴我们成长的代码和文章

block javascript
  script(type='text/javascript').
    $(document).ready(function(){
     $('#signup-form').validate( {
      onkeyup: false,
      submitHandler: function(form) {
        form.submit();
      },
      rules: {
        displayName: {
          minlength: 2,
          maxlength: 12,
          required: true
        },
        email: {
          required: true,
          email: true,
          remote:  {
            url: '/validate/signup/email',
            type: "get",
            async: false,
            dataFilter: function(data) {
                          return JSON.parse(data).valid === true;
                       }
          }
        },
        password: {
          minlength: 7,
          maxlength: 64,
          required: true
        },
        re_password: {
          equalTo: "#password"
        }
      },
      messages: {
        email: {
          remote: jQuery.format("{0} 已经注册了")
        }
      },
      highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error').removeClass('has-success');
      },
      success: function(element) {
        $(element).closest('.form-group').addClass('has-success').removeClass('has-error');
        $(element).closest('.error').remove();
      }
     });
    }); // end document.ready