.holderjs-fluid{font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}
#scrollUp{bottom:20px;right:60px;height:38px;width:38px;background:url("/img/top.png") no-repeat}
label.error{font-weight:normal;color:#B94A48;padding:2px 8px 0px 0px;margin-top:2px}
